html,
body {
	padding: 0;
	margin: 0;
}

body,
select,
input {
	font-family: Roboto, sans-serif;
	font-size: 0.9em;
}

#left-nav {
	float: left;
	width: 20em;
}

#result {
	margin-left: 25em;
	padding: 4em 0;
}

#dates-form input {
	margin-left: 0.5em;
	margin-right: 1em;
}

#chart {
	padding: 2em 0;
}

#stock-list {
	width: 20em;
	position: absolute;
	max-height: 100%;
	overflow-y: scroll;
	border-right: 1px solid #ccc;
}

#stock-list a {
	display: block;
	padding: .75em 1em;
	color: #004178;
	text-decoration: none;
}

#stock-list div a.selected,
#stock-list div a:hover {
	background-color: #ccc;
}

#stock-list a:nth-child(even) {
	background-color: #f9f9f9;
}

#stock-search input {
	height: 2em;
}
