html,
body {
	padding: 0;
	margin: 0;
}

body,
select,
input {
	font-family: Roboto, sans-serif;
	font-size: 0.9em;
}

#loading {
	margin: 1em;
}

#left-nav {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 20%;
	border-right: 1px solid #ccc;
}

#stock-list {
	height: 100%;
	overflow-y: scroll;
}

#stock-list a {
	display: block;
	padding: .5em 1em;
	color: #004178;
	text-decoration: none;
}

#stock-list > a.selected,
#stock-list > a:hover {
	background-color: #ccc;
}

#stock-search {
	line-height: 5em;
	background-color: #f7f7f7;
}

#stock-search input {
    width: 18em;
    margin: 0 1em;
    vertical-align: baseline;
    display: inline-block;
}

#result {
	margin-top: 3em ;
	margin-left: 25em;
}

#dates-form {
	margin-top: 3em;
	margin-bottom: 2em;
}

#dates-form input {
	margin-left: 0.5em;
	margin-right: 1em;
}

#chart {
	padding: 2em 0;
}
