<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Stocks Betas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css', ts=ts)}}" type="text/css"></link>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/babel" src="{{ url_for('static', filename='main.js', ts=ts)}}"></script>
</head>
<body>
    <div id="app">The app</div>
</body>
</html>

